<% provide(:title, 'Contact') %>
<h3>
	Who should I Contact?
</h3>
<p>
	Here is a list of people to contact there is no order to this madness, just a list of people.
 	<ul>
 		<li>Kelly Maas</li>
 			<ul>
 				<li>Cell: 608-434-0356</li>
 				<li>Email: uno_mas<%= 64.chr %>gmail.com</li>
 			</ul>	
 		<li>Rebecca Maas</li>
 			<ul>
 				<li>Cell: 608-302-7560</li>
 				<li>Email: blmaas@gmail.com</li>
 			</ul>
    	<li>Shelly Sonsalla</li>
    		<ul>
    			<li>Cell: 608-963-2552</li>
    		</ul>
    	<li>Sandy Jopp</li>
    		<ul>
    			<li>Cell: 608-963-0868</li>
                <li>Email: sandy8183@yahoo.com</li>
    		</ul>
    </ul>
</p>