<% provide(:title, 'Contact') %>
<h3>
	Who should I Contact?
</h3>
<p>
	Here is a list of people to contact there is no order to this madness, just a list of people.
 	<ul>
 		<li>Kelly Maas</li>
 		<li>Rebecca Maas</li>
    	<li>Shelly Sonsalla</li>
    	<li>Sandy Sonsalla</li>
    </ul>
</p>