<% provide(:title, 'Fun Facts') %>
<h4>Detailed below are a couple of fun facts and items of note for some of the activities you might see (or hear) at the wedding. Some of them encourage guest participation... please feel free to join in!</h4>
<h4>"Skol!"</h4>
<p>
	During the reception or during toasts, you may hear the word “Skol!” used (Spoken like a mix between “Skole” with the O sound of “school”). This is a nordic phrase used during toasts that is similar to shouting “Cheers!” and means good health, good spirit, or cheers. Guests are invited (and encouraged) to join us in using this phrase during the wedding!
</p>

<br />
<h4>Disney’s Mulan - “Be A Man”</h4>
<p>
	So…. the bride and groom are kind of dorks and also enjoy Disney Movies. Dating back to a Belegarth (medieval fighting/camping) event where a couple people (Yes, Sir Luthien, we blame you!) started singing Mulan’s “Be A Man” that was joined spontaneously by over two dozen people. This has become “a thing” in Mischelle and Ryan’s circle of friends and the impromptu singing of this song pops up from time to time. There just &lowast;might&lowast; be a moment during the reception where there is a chance to sing along to this song...  
	<a href="https://www.youtube.com/watch?v=TVcLIfSC4OE">if you would like to learn the lyrics and join in, please visit this link!</a>
</p>

<br />
<h4>Drum Circle</h4>
<p>
	Later, during the reception the bride and groom invite everyone to join in on a drum circle. Guests are encouraged to bring drums and play music together for the enjoyment of the party. There is no specific song; everyone brings their own beats and sound to the mix. The more, the merrier, and the more drums, the bigger and better the music!
</p>

<br />
<h4>Use of Wheat</h4>
<p>
	In some Nordic culture, wheat was used during wedding ceremonies to symbolize a good marriage by representing a good harvest. Wheat was used extensively as a means of food and its symbolic nature was important for prosperity.
</p>

<br />
<h4>Yellow Flowers</h4>
<p>
	Yellow is the favorite color of flowers for Mischelle (also for her mother, Lorraine) and Ryan proposed to her by surprising her with a number of yellow flowers. They are both fans of Disney movies and one of Mischelle’s favorite movies is Enchanted. In the movie, the main character sings a love song that has the phrase in it “Does he bring you yellow flowers when the skies are gray” and it has become a thing between them in their relationship.
</p>

<br />
<h4>Religion and Spirituality</h4>
<p>
	Following closely to Ryan and Mischelle’s beliefs, you will notice that hints of nordic inspired religion and spirituality play a specific role in the wedding. 
	The best description of our ceremony is that of Omnism; which is the respect and recognition of all religions and faiths. The bride and groom have many friends that are Christian, Jewish, Asatru, various religions, etc and we believe that all faiths have a place. We encourage each person to freely express their own faith or blessings as our wedding day does not focus on any one specific religion. All are welcome!”
</p>