<% provide(:title, 'Fun Facts') %>

<h4>"Skol!"</h4>
<p>
	During the reception or during toasts, you may hear the word “Skol!” used (Spoken like a mix between “Skole” with the O sound of “school”). This is a nordic phrase used during toasts that is similar to shouting “Cheers!” and means good health, good spirit, or cheers. Guests are invited (and encouraged) to join us in using this phrase during the wedding!
</p>


<h4>Disney’s Mulan - “Be A Man”</h4>
<p>
	So…. the bride and groom are kind of dorks and also enjoy Disney Movies. Dating back to a Belegarth (medieval fighting/camping) event where a couple people (Yes, Sir Luthien, we blame you!) started singing Mulan’s “Be A Man” that was joined spontaneously by over two dozen people. This has become “a thing” in Mischelle and Ryan’s circle of friends and the impromptu singing of this song pops up from time to time. There just *might* be a moment during the reception where there is a chance to sing along to this song… if you would like to learn the lyrics and join in, please visit this
	<a href="https://www.youtube.com/watch?v=TVcLIfSC4OE">link!</a>
</h4>


<h4>Drum Circle</h4>
<p>
	During the reception (before dancing begins) the bride and groom invite everyone to join them in a drum circle. Guests are encouraged to bring drums and play music together for the enjoyment of the party. There is no specific song; everyone brings their own beats and sound to the mix. The more, the merrier, and the more drums, the bigger and better the music!
</p>

<h4>Use of Wheat</h4>
More Info


<h4>Yellow Flowers</h4>
More Info
