<% provide(:title, 'Food') %>
<h3>
	What Kind Of Food And Drink Can You Expect?
</h3>

<h4>Menu</h4>
<p>
	<ul>
		<li>Snacks: Cheese, bread, pickles, olives, honey butter</li>
		<li>Salad: 	Spring lettuce mix, cucumbers, grape tomatoes and croutons</li>
		<li>Dressing: Ranch or Italian</li>
		<li>Entrée: Pig roast</li>
		<li>Sides: 	Potato salad, coleslaw and baked beans</li>
		<li>...and of course Cake!</li>
	</ul>
</p>

<h4>Alcohol</h4>

<p>
	We will be providing some alcohol that we have made ourselves, along with beer brewed by a friend of ours specifically for this joyous occasion. We will have a variety of wine, mead and beer. If you would like to bring additional alcohol to share with everyone (of age), please feel free.
</p>
<p>
	Also, if you have any medieval looking drinking vessels; metal tankards, drinking horns, goblets... please bring them and join in on the fun!
</p>