<% provide(:title, 'Garb') %>
<h3>
	What Garb Should I Wear. 
</h3>
<p>
	Please thoughtfully consider your attire as this is an outside wedding. You are invited to join the bride and groom in wearing a clothing of the medieval era; otherwise, please feel free to wear comfortable clothing and shoes.  The ceremony and celebration will be held outside, please dress appropriately. 
</p>
<p>
	Here is a sample of some of the ideas you might use, it is a huge collection but it is the groups <a href="http://s489.photobucket.com/user/Wolf-Recon/library/02_21_16_LH_PoliticalDinnerReparations?sort=9&page=1">photobucket</a>.
</p>
<p>
	Later we might put a list of sew your own projects.
</p>