<% provide(:title, 'Garb') %>
<h3>
	What Garb Should I Wear. 
</h3>
<p>
	This wedding is a themed wedding. You are invited to join the bride, groom, and wedding party in wearing clothing (garb) of the medieval/renaissance era. There are examples and links provided below. Otherwise, please feel free to wear comfortable clothing and shoes; guests are not required to dress in garb to share in our special day with us… but dressing up ca definitely be part of the fun! The ceremony and celebration will be held outside, please dress appropriately. The middle of May can be warm, cold, or anything in-between!


	Below are examples of men’s and women’s garb (Click to enlarge)
</p>
<p>
	<h4>
	Below are links to websites or stores that sell medieval clothing
	</h4>
<p>
<a href="http://www.ravenworksip.com/">Ravenworks of Madison</a> : 
Tell them it is for Ryan and Mischelle’s wedding! One of the only Garb clothing shops in the area, Ravenworks has tons of options for garb that you can stop in and try on. They do custom work too!
	<!-- Here is a sample of some of the ideas you might use, it is a huge collection but it is the groups <a href="http://s489.photobucket.com/user/Wolf-Recon/library/02_21_16_LH_PoliticalDinnerReparations?sort=9&page=1">photobucket</a>. -->
<p>
	<a href="http://www.medievalcollectibles.com/c-1398-medieval-renaissance-clothing.aspx">Medieval Collectibles</a>
 : 
This website is a go-to for tons of options for medieval garb at decent prices.

</p>

<p>
	<h4>
Feeling crafty? Want to make your own garb? That is also part of the fun! Below are links for tutorials on how to make simple garb 
	</h4>
<p>
<!-- Fancy (but still simple) Tunic -->
<a href="http://www.dagorhir.com/gear/content/garb/bocksten_tunic.php">Fancy (but still simple) Tunic</a>

<p>
<!-- Fancier Tunic -->
<a href="http://www.virtue.to/articles/tunic_worksheet.html">Fancier Tunic</a>

<p>
<!-- More Tunic Options -->
<a href="http://members.iinet.net.au/~bill/handbook/tunic.html">More Tunic Options</a>

<p>
<!-- Viking Trousers (Pants) -->
<a href="http://www.vikingsonline.org.uk/resources/authenticity/basickit/basickit5.html">Viking Trousers (Pants)</a>

<p>
<!-- Wrap-Pants (Simple, easy to make) -->
<a href="http://oakdancer.com/parenting/paganpants.htm">Wrap-Pants (Simple, easy to make)</a>

<p>
<!-- More options for Wrap-Pants -->
<a href="https://laupre.wordpress.com/2008/06/29/easy-breezy-wrap-pants-tutorial/"><p>
More options for Wrap-Pants</a>

<p>
<!-- Fancy (but simple) Apron Dress -->
<a href="http://dagorhir.com/gear/content/garb/apron_dress.php">Fancy (but simple) Apron Dress</a>

<p>
<!-- Simple Viking/Saxon Rectangular Cloak -->
<a href="http://dagorhir.com/gear/content/garb/as_cloak.php">
Simple Viking/Saxon Rectangular Cloak</a>
</p>