<% provide(:title, 'Gift Registry') %>

<h3>
	Gift Registry
</h3>
<p>
	We are registered at Bed, Bath and Beyond. It is a small list as we already have a house and a lot of the items needed to help make it a comfortable home for us. 
</p>
<p>
	We do have a fund set up to help us have a destination honeymoon after the wedding if you would like to donate to this. We have a love for Nordic/Scandinavian/Viking culture and would love to be able to visit areas such as Iceland, Norway, or Sweden. Any help would be appreciated in making this a reality.
</p>
<!-- [Will get link from our registry stuff asap… or perhaps just add a “Link to Registry will be provided at a later date”  for now?] -->