
<h1 class='text-center'>Mischelle and Ryans Wedding Page</h1>
<h2 class='text-center'>May 13, 2017</h2>

<!-- tried to add a font here  -->
<h3 class= 'text-center'; >
   We want to thank everyone for coming to the our page.
</h3>
<h4>Our Story:</h4>
<h5>How They Met</h5>
<p>

</p>
<h5>The Proposal</h5>
<p>
	
</p>
<h5>About the Bride</h5>
<p>
	
</p>
<h5>About the Groom</h5>
<p>
	
</p>

<!-- Everything below this we might want on a different page -->

<h4>
	Wedding information:
</h4>
<p>
<!-- TimeFrames -->
</p>
<h4>
	Food:
</h4>
<h5>
  Menu
</h5>
<p>

</p>
<h5>
Alcohol
</h5>
<p>

</p>