
<h1 class='text-center'>Mischelle and Ryans Wedding Page</h1>
<h2 class='text-center'>May 13, 2017</h2>

<!-- tried to add a font here  -->
<h3 class= 'text-center'; >
   We want to thank everyone for coming to our page.
</h3>
<div class= 'text-center';>
	<%= image_tag("homePage/Homepage_1.jpg") %>
</div>
<h4>Our Story:</h4>
<!-- what i am thinking for all of the sub-sections on this page is to have them expand on hover of maybe on-click -->
<h4>How They Met</h4>
<p>
	In 2012, Mischelle was interested in trying something new. She had been looking into martial arts or something like a LARP (Live Action Role Play) having just watched the movie Role Models and thought it looked fun. She talked to her sister Kelly about it and Kelly knew a guy named Ryan who she had gones to school with that was into gaming and who was involved in a LARP. Mischelle decided to contact him and give it a try. Ryan Jopp had started a LARP in July 2011 named Last Hope. This is where Mischelle and Ryan met and quickly they became good friends. 
</p>
<h4>The Proposal</h4>
<p>
	Mischelle and Ryan had their 3 year anniversary in August of 2015. Hiking the trails in the area such as Devil’s Lake had become an important activity for Ryan and Mischelle. Before their weekend getaway in the Dells for their anniversary, they decided to hike to the waterfall at Parfrey’s Glen near Merrimac, WI. What Mischelle didn’t realize is that waiting at the waterfall were dozens and dozens of yellow flowers. During the surprise, Ryan played music from a hidden speaker in his backpack and displayed cards with meaningful words on them at the waterfall until he knelt down and proposed to Mischelle. What a way to start a getaway weekend!
</p>
<aside id='ladies'>
	<h4>About the Bride</h4>
	<%= image_tag("homePage/Homepage_Mischelle.jpg") %>
	<p>
		34 years old. She works at St Clare Meadows as a cook and has a love of life and fun. She wants to see the world and all of the wonders it has, but holds friends and family close to her heart. Hobbies include: Live Action Role Play, reading, blacksmithing, card games, making wine, sewing, and is new to knitting. 
	</p>
</aside>
<aside id='dudes'>
	<h4>About the Groom</h4>
	<%= image_tag("homePage/Homepage_Ryan.jpg") %>
	<p>
		33 years old. He works at St Clare Meadows as an activity coordinator and the bus driver as well as at GNC as a supplement specialist. He wants to learn more about viking/scandinavian culture and enjoys numerous creative activities and spending time with friends/family.
		Hobbies include: Live Action Role Play, leatherworking, swordfighting, painting, Airsoft, fitness, video & board gaming, and helps with winemaking 
	</p>
</aside>