<% provide(:title, 'Location Info') %>

<h5>
	Parking Info
</h5>
<p>
As you enter the Black Hawk Unit site, you will drive up a winding road to a grass parking lot at the top. There is plenty of room to park and we have access to an overflow parking lot at the bottom of the hill near the road as well. Those who need assistance getting to the ceremony location from the parking lot will be shuttled directly to the area.
</p>

<h5>
Bathrooms
</h5>

<p>
There will be several portable toilets and washing stations on-site for guests to use. We will have at least one larger handicapped accessible portable toilet.
</p>


<h5>
Outdoor Conditions
</h5>

<p>
We will not have access to heated or cooled buildings for guests. The log cabin will be used by the wedding party and the family to help coordinate the event.
</p>
<p>
The ceremony will be outdoors but will be moved under a large pavilion if needed. The feast and reception will be under the large pavilion, so rain will not be a hindrance during the day.
</p>