<% provide(:title, 'Location Info') %>
<h2 class='text-center'>Location Info</h2>
<h4>Parking Info</h4>
<p>
	There will be plenty of parking at the Sauk County Fairgrounds near the Litscher Pavilion where the wedding is behing held. There is another wedding there on the same day, please pay attention to the signs so we all park in the appropriate area.
</p>

<h4>Bathrooms</h4>
<p>
	There will be indoor Mens and Womens bathrooms available onsite at the Litscher Pavilion with sinks and flushable toilets.
<p>

<h4>Outdoor Conditions</h4>
<p>
	The Litscher Pavilion is an open sided building; we will not have access to heated or cooled buildings for guests. The ceremony will be outdoors on the grounds near the Grandstand (large white building) but will be moved under the large pavilion if needed due to weather. The feast and reception will be under the large pavilion. Please be sure to dress appropriately for being outside. There will be plenty of shade.  
</p>

<h4>Onsite Camping & Campfire Info</h4>
<p>
	There is tent camping available on the grounds right next to our ceremony and reception location! Feel free to bring a tent to camp in or stay on the grounds or click the “Where Can I stay” button on the left to search for nearby hotels.
	Above-ground firepits are allowed but you must bring your own firewood and you must take out all the ash from the fires with you; they cannot be dumped on the grounds.
	If you require an electricity hookup, the fee is $25 from the grounds PER HOOKUP. Please contact us ahead of time if you are interested in paying for an electrical hookup for camping.
</p>

<h4>Quiet Hours</h4>
<p>
	Although the reception will go until late, we will be observing a “quiet hours” time of 11pm that evening. This mainly pertains to anyone staying overnight and camping.
</p>
<br />
<h4>Map of the Area</h4>
<%= image_tag("location/LocationInfo_1.jpg") %>
<br />
<br />
<h4>Photo of the Venue</h4>
<%= image_tag("location/LocationInfo_2.jpg") %>