<% provide(:title, 'Schedule') %>
<h3>
	What Time is Evertything Happening?
</h3>
<p>

</p>
<h4>Wedding information:</h4>
<p>
	The schedule for the day is not defined yet and this will be updated and available when the invitations go out in the mail. Please check back later!
</p>