<% provide(:title, 'Schedule') %>
<h3>
	What Time is Evertything Happening?
</h3>
<p>

</p>
<h4>Schedule for the day:</h4>
<p>
	Arrival on site: 1:30pm<br />
	Ceremony: 2pm<br />
	Yard games & Socializing: 2:30pm - 5pm<br />
	Dinner: 5pm<br />
	(Dancing and entertainment after dinner)<br />
	Quiet time: 11pm.<br />
</p>