<% provide(:title, 'Wedding Party') %>
<h3>
	Who Is In The Wedding Party?
</h3>
<p>
<!-- [Two columns, aligned nicely, Shieldmaidens on the left, Swordsmen on the right, then Hearthguards just listed below (not in a column)] -->



<h3>Shieldmaidens (Bridesmaids)</h3> 
<h4>Kelly Maas - Shieldmaiden </h4>
More Info


<h4>Rebecca Maas - Shieldmaiden</h4>
More Info


<h4>Caitlin Heise - Shieldmaiden </h4>
Has been friends with Mischelle for 11 years. They worked together at the Portage Culvers and even though they no longer work there they have developed a close friendship and have been there for each other in good and bad times.


<h3>Swordsmen (Groomsmen)</h3>
<h4>Steve Jopp - Swordsmen</h4>
Steve is Ryan’s brother and they have shared some interest in the nerd world. Playing Magic The Gathering, talking about Anime, or running a gaming shop together back in 2002. 


<h4>Nate Gassen - Swordsmen</h4>
Nate is a longtime friend of Ryans . They have played airsoft together for many years. Ryan was an usher in Nate’s wedding. One of their bucket list items is to drink margaritas and watch Starship Troopers.


<h4>Matt Edwardson - Swordsmen</h4>

Matt is a friend of both Ryan and Mischelle’s. They met at LARP and eventually became closer friends. Matt is proficient at knowing pirate songs and sliding down playground equipment.


<h3>Hearthguards (Ushers)</h3>
<h4>Cole Potter - Champion, Hearthguard</h4>
Defending the honor of the bride and groom, Cole is the martial champion of the wedding party. Cole is a mutual friend of Ryan and Mischelle and met them through LARP. Mischelle has commented that Cole has the tendency to bring out the child side of Ryan…  she is not wrong.


<h4>David Li - Organizer, Hearthguard</h4>
Helping organize the big day, David is the planner and facilitator of the wedding party. David has been a friend of Ryan’s since high school and actually taught him how to do fencing. Whether it be playing Dungeons and Dragons in the basement or hanging out at the gaming shop, there was plenty of shared gaming hobbies between the two. David now LARPs with Ryan and Mischelle.


<h4>Brandon Potter - Hearthguard</h4>
Brandon is a mutual friend of Mischelle and Ryan and they met through LARP. Ryan has commented that Brandon has the tendency to bring out the child side of Mischelle… he is not wrong.


<h4>Shelly Sonsalla - Hearthguard</h4>
Shelly is Ryan’s cousin and the two have shared interests over the years. They have fenced, LARPed, and enjoyed attending renaissance faires.


<h4>Sadie Raab - Hearthguard</h4>
Sadie is a mutual friend of Mischelle and Ryan and they met through LARP. Mischelle and Sadie share their love of food and cooking together and share “kitchen stories”. 
</p>