<% provide(:title, 'RSVP') %>
<h3 class='wordWeddingWrapper'> RSVP Form </h3>
<br />
  <p class='wordWeddingWrapper'>
    Please RSVP here:<br />
        Put your name from the invatation.<br />
        Your Phone Number.<br />
        Your email.<br />
        The NUMBER of people joining from the invatation.<br />
        If you are wearing garb or not (Yes or No).<br />
        How many extra people you are bringing with.<br />
        <br />

        <div class='wordWeddingWrapper'>
        <%= render 'layouts/form' %>
