<% provide(:title, 'RSVP') %>
<h3 class='wordWeddingWrapper'>
  RSVP Form  <br />
  
  
  

 <br />
  Maybe ask for the name on the invitations?<br />
  Ask how many invites are coming from the invitations?<br />
  How many +1's are coming? (like a family of 4 invities might being 2 extras) <br />
  Ask if/what they plan on doing extra for the wedding? (dressing up and/or fighting/ w/e events might be happening)<br />
  Are they planning to stay local or at all? (overnight?) <br />
</h3>

<br />

<p>
    <div class='wordWeddingWrapper'>
        <form id='signup'>
            
            <br />
            <label for='name'>Name</label>
            <input type='text' name='name'>
            <br />
            
            <label for='invitees_present'>How many members listed on the invite will be coming?</label>
            <input type='text' name='invitees_present'>
            <br />
            
            <label for='plus_ones'>How many "Plus Ones" are you bringing?</label>
            <input type='text' name='pluse_ones'>
            <br />
            
            <label for='dressed_in_garb'>I will be dressed in garb</label>
            <input type='checkbox' name='dressed_in_garb'>
            <br />
            
            <label for='name'>Phone</label>
            <input type='text' name='phone'>
            <br />
            
            <label for='name'>Email</label>
            <input type='text' name='email'>
            <br />
            
            <input type='submit' name='Submit' value='Submit'>
            
            
            
        </form>
    </div>
    
</p>