<% provide(:title, 'RSVP') %>
<h3 class='wordWeddingWrapper'>
  This is the RSVP page  <br />
 <br />
  Maybe ask for the name on the invitations?<br />
  Ask how many invites are coming from the invitations?<br />
  How many +1's are coming? (like a family of 4 invities might being 2 extras) <br />
  Ask if/what they plan on doing extra for the wedding? (dressing up and/or fighting/ w/e events might be happening)<br />
  Are they planning to stay local or at all? (overnight?) <br />
</h3>
<p>
 
    
</p>