<% provide(:title, 'Invitee') %>
<h3 class='wordWeddingWrapper'>
  Invitee
</h3>


<!--
<p>
    <%= link_to 'Invitee (view)', invitee_path(@invitee) %>
    <%= link_to 'Invitee (edit)', invitee_path(@invitee) %>
    <%= link_to 'Invitee (index)', invitee_path %>
    
</p>
-->

<!--
<h1 class='wordWeddingWrapper'>Invitees#new</h1>
<br />
<br />
<p class ='wordWeddingWrapper'><% @invitee.each do |i| %></p>
-->