<% provide(:title, 'Directions') %>

<h3 class='text-center'>
  This is a Google map with the location of the party. <br />  
</h3>

<p>   

	For directions, click "more options" button on the map below. <br />
  Your browsers will open Google maps in a new tab. <br />
  Once it finishes loading, more options will be shown on the left side.<br />
  One of these options is "My Location", select that and you will be on your way. <br />
  You can also put in other start location information if you want directions from a different location.<br />
  We are in the Litscher Pavilion (signs will point the way!)
</p>

<p>

	The exit 106 on 90-94 will be closed during the weekend of the event.
</p>
<p>
	If you are headed north you can take I39 to Portage, then take the 1st exit for Portage.
</p>
<p>
	If you are headed south on 90-94 you will take the last Wisconsin Dells exit(Baraboo/Lake Delton exit).

</p>
<p class='text-center'>
 
<!--  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d412913.0062016931!2d-90.34919170740233!3d43.223567419536025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880774ec50ab0f73%3A0xd96349cf20864a93!2sBlack+Hawk+Unit!5e0!3m2!1sen!2sus!4v1454042735260" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->


 <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d5790.927626469387!2d-89.7296418733974!3d43.47179011651151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x88076a90e85f9505%3A0x6ea0b60b24a96d95!2s700+Washington+Ave%2C+Baraboo%2C+WI+53913!3m2!1d43.4717902!2d-89.7252645!5e0!3m2!1sen!2sus!4v1482077895985" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
</p>