<% provide(:title, 'Directions') %>

<h3 class='text-center wordWeddingWrapper'>
  This is a Google map with the location of the party already put in. <br />  
</h3>

<p class='wordWeddingWrapper'>   

	For directions just click the directions button that is just below. <br />
  Your browers will open Google maps in a new tab. <br />
  Once it finishes loading, on the left side of the map there will be some options.<br />
  One of these options is "My Location", select that and you will be on your way. <br />
  You can also put in other start location information if you want directions from a different loaction.
</p>
<p class='text-center wordWeddingWrapper'>
 
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d412913.0062016931!2d-90.34919170740233!3d43.223567419536025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880774ec50ab0f73%3A0xd96349cf20864a93!2sBlack+Hawk+Unit!5e0!3m2!1sen!2sus!4v1454042735260" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
</p>