<% provide(:title, 'Places to stay') %>

<h3 class='wordWeddingWrapper'>
    This is the directions page for, this wedding thing. 
  what thinking that we could put some local places as links with some maps
</h3>

<p class='wordWeddingWrapper'>
	<a href="http://www.cedarberryinn.com/">Cedarberry Inn</a><br />
 <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d46496.523485604506!2d-89.76131396340509!3d43.250736099712135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x880774ec50ab0f73%3A0xd96349cf20864a93!2sBlack+Hawk+Unit%2C+Watcher+Road%2C+Mazomanie%2C+WI+53560!3m2!1d43.2297465!2d-89.7256824!4m5!1s0x880773a007a61363%3A0x4cccb01e9b825f4e!2sCedarberry+Inn%2C+855+Phillips+Blvd%2C+Sauk+City%2C+WI+53583!3m2!1d43.271665!2d-89.73805949999999!5e0!3m2!1sen!2sus!4v1454206497407" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>

<p class='wordWeddingWrapper'>
	<a href="http://www.skyviewmotel.biz/">Skyview Motel</a> <br />
	<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d46487.09300688867!2d-89.76564636328483!3d43.263087636891214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x880774ec50ab0f73%3A0xd96349cf20864a93!2sBlack+Hawk+Unit%2C+Watcher+Road%2C+Mazomanie%2C+WI+53560!3m2!1d43.2297465!2d-89.7256824!4m5!1s0x88077235d2d875d7%3A0xec17b0c1e4979c5e!2sSkyview+Motel%2C+S9645+US-12%2C+Prairie+Du+Sac%2C+WI+53578!3m2!1d43.294964!2d-89.7610251!5e0!3m2!1sen!2sus!4v1454206953288" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>

<p class='wordWeddingWrapper'>
	Ganser Motel <br />
	<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d46498.60153581736!2d-89.715239!3d43.248014!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x880774ec50ab0f73%3A0xd96349cf20864a93!2sBlack+Hawk+Unit%2C+Watcher+Road%2C+Mazomanie%2C+WI+53560!3m2!1d43.2297465!2d-89.7256824!4m5!1s0x8807734512cffd85%3A0xbcec85264bec4210!2sGanser&#39;s+Motel%2C+7433+Wisconsin+188%2C+Sauk+City%2C+WI+53583!3m2!1d43.263373699999995!2d-89.7112863!5e0!3m2!1sen!2sus!4v1454208297775" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>

</p>

<p class='wordWeddingWrapper'>
	Bel Aire Motel <br />
	<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d46533.46258817419!2d-89.78439851387618!3d43.202327949941534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x880774ec50ab0f73%3A0xd96349cf20864a93!2sBlack+Hawk+Unit%2C+Watcher+Road%2C+Mazomanie%2C+WI+53560!3m2!1d43.2297465!2d-89.7256824!4m5!1s0x88079e05e786ed2d%3A0x9b2ab5c4319d9ece!2sBel+Aire+Motel%2C+10291+US-14%2C+Mazomanie%2C+WI+53560!3m2!1d43.166930199999996!2d-89.77328419999999!5e0!3m2!1sen!2sus!4v1454209462416" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>

<p class='wordWeddingWrapper'>
	<a href="http://www.freewebs.com/cedarhillscampground/index.htm">Cedar Hills Campground</a><br />
	<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d37186.00057438613!2d-89.75310169655386!3d43.221009472331765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x880774ec50ab0f73%3A0xd96349cf20864a93!2sBlack+Hawk+Unit%2C+Watcher+Road%2C+Mazomanie%2C+WI+53560!3m2!1d43.2297465!2d-89.7256824!4m5!1s0x880775aed4e1fba1%3A0x86bd73380ab5db61!2sCedar+Hills+Campground%2C+6406+WI-78+Trunk%2C+Mazomanie%2C+WI+53560%2C+United+States!3m2!1d43.2064587!2d-89.7520792!5e0!3m2!1sen!2sus!4v1454210227050" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>