<% provide(:title, 'Places to stay') %>

<h3>
    If you are wondering where stay, that is close by, here are a few places that are within 10 minuntes of the wedding. Each place has a link to more information and their phone numbers are listed. Their addresses will be in the maps provided. 
</h3>

<p>
	Motel Website:
	<a href="http://www.cedarberryinn.com/" target="_blank" > Cedarberry Inn</a><br />
	Phone Number:  608-643-6625 <br />
	<a href="https://www.google.com/maps/dir/Black+Hawk+Unit,+Watcher+Road,+Mazomanie,+WI+53560/Cedarberry+Inn,+855+Phillips+Boulevard,+Sauk+City,+WI+53583/@43.250679,-89.726209,12z/data=!4m14!4m13!1m5!1m1!1s0x880774ec50ab0f73:0xd96349cf20864a93!2m2!1d-89.7256824!2d43.2297465!1m5!1m1!1s0x880773a007a61363:0x4cccb01e9b825f4e!2m2!1d-89.7380595!2d43.271665!3e0?hl=en-US" target="_blank" >Here is a link to take you to google maps for this place</a><br />
 	<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d46496.523485604506!2d-89.76131396340509!3d43.250736099712135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x880774ec50ab0f73%3A0xd96349cf20864a93!2sBlack+Hawk+Unit%2C+Watcher+Road%2C+Mazomanie%2C+WI+53560!3m2!1d43.2297465!2d-89.7256824!4m5!1s0x880773a007a61363%3A0x4cccb01e9b825f4e!2sCedarberry+Inn%2C+855+Phillips+Blvd%2C+Sauk+City%2C+WI+53583!3m2!1d43.271665!2d-89.73805949999999!5e0!3m2!1sen!2sus!4v1454206497407" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>

<p>
	Motel Website:
	<a href="http://www.skyviewmotel.biz/" target="_blank" > Skyview Motel</a> <br />
	Phone Number: 888-643-4344 <br />
	<a href="https://www.google.com/maps/dir/Black+Hawk+Unit,+Watcher+Road,+Mazomanie,+WI+53560/Skyview+Motel,+U.S.+12,+Prairie+du+Sac,+WI/@43.2722378,-89.7727108,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x880774ec50ab0f73:0xd96349cf20864a93!2m2!1d-89.7256824!2d43.2297465!1m5!1m1!1s0x88077235d2d875d7:0xec17b0c1e4979c5e!2m2!1d-89.7610251!2d43.294964!3e0?hl=en-US" target="_blank" >Here is a link to take you to google maps for this place</a><br />
	<iframe src="https://www.google.com/maps/embed?pb=!1m22!1m8!1m3!1d185731.00969115828!2d-89.741811!3d43.334205!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m5!1s0x880774ec50ab0f73%3A0xd96349cf20864a93!2sBlack+Hawk+Unit%2C+Watcher+Road%2C+Mazomanie%2C+WI+53560!3m2!1d43.2297465!2d-89.7256824!4m3!3m2!1d43.2951154!2d-89.76073889999999!5e0!3m2!1sen!2sus!4v1455842432274" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>

<p>
	Motel Website: 
	<a href="http://www.travelwisconsin.com/hotels-motels/gansers-motel-202928" target="_blank" > 
	 Ganser Motel </a> <br />
	 Phone Number: 608-643-8551 <br />
	 <a href="https://www.google.com/maps/dir/Black+Hawk+Unit,+Watcher+Road,+Mazomanie,+WI+53560/Ganser's+Motel,+7433+Wisconsin+188,+Sauk+City,+WI+53583/@43.254015,-89.735495,12z/data=!4m14!4m13!1m5!1m1!1s0x880774ec50ab0f73:0xd96349cf20864a93!2m2!1d-89.7256824!2d43.2297465!1m5!1m1!1s0x8807734512cffd85:0xbcec85264bec4210!2m2!1d-89.7112863!2d43.2633737!3e0?hl=en-US" target="_blank" >Here is a link to take you to google maps for this place</a><br />
	<iframe src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d46498.60153581736!2d-89.715239!3d43.248014!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x880774ec50ab0f73%3A0xd96349cf20864a93!2sBlack+Hawk+Unit%2C+Watcher+Road%2C+Mazomanie%2C+WI+53560!3m2!1d43.2297465!2d-89.7256824!4m5!1s0x8807734512cffd85%3A0xbcec85264bec4210!2sGanser&#39;s+Motel%2C+7433+Wisconsin+188%2C+Sauk+City%2C+WI+53583!3m2!1d43.263373699999995!2d-89.7112863!5e0!3m2!1sen!2sus!4v1454208297775" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>

</p>

<p>
	Motel Website:
	<a href="http://www.belairemotel.org/" target="_blank" > Bel Aire Motel</a> <br />
	Phone Number: 608-795-2806 <br />
	<a href="https://www.google.com/maps/dir/Black+Hawk+Unit,+Watcher+Road,+Mazomanie,+WI+53560/Bel+Aire+Motel,+10291+U.S.+14,+Mazomanie,+WI+53560/@43.202271,-89.749293,11z/data=!4m14!4m13!1m5!1m1!1s0x880774ec50ab0f73:0xd96349cf20864a93!2m2!1d-89.7256824!2d43.2297465!1m5!1m1!1s0x88079e05e786ed2d:0x9b2ab5c4319d9ece!2m2!1d-89.7732842!2d43.1669302!3e0?hl=en-US" target="_blank" >Here is a link to take you to google maps for this place</a><br />
	<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d46533.46258817419!2d-89.78439851387618!3d43.202327949941534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x880774ec50ab0f73%3A0xd96349cf20864a93!2sBlack+Hawk+Unit%2C+Watcher+Road%2C+Mazomanie%2C+WI+53560!3m2!1d43.2297465!2d-89.7256824!4m5!1s0x88079e05e786ed2d%3A0x9b2ab5c4319d9ece!2sBel+Aire+Motel%2C+10291+US-14%2C+Mazomanie%2C+WI+53560!3m2!1d43.166930199999996!2d-89.77328419999999!5e0!3m2!1sen!2sus!4v1454209462416" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>

<p>
	Campground Website:
	<a href="http://www.freewebs.com/cedarhillscampground/index.htm" target="_blank" > Cedar Hills Campground</a><br />
	Phone Number: 608-795-2606 <br />
	<a href="https://www.google.com/maps/dir/Black+Hawk+Unit,+Watcher+Road,+Mazomanie,+WI+53560/Cedar+Hills+Campground,+6406+Wisconsin+78+Trunk,+Mazomanie,+WI+53560/@43.222035,-89.738435,12z/data=!4m14!4m13!1m5!1m1!1s0x880774ec50ab0f73:0xd96349cf20864a93!2m2!1d-89.7256824!2d43.2297465!1m5!1m1!1s0x880775aed4e1fba1:0x86bd73380ab5db61!2m2!1d-89.7520792!2d43.2064587!3e0?hl=en-US" target="_blank" >Here is a link to take you to google maps for this place</a><br />
	<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d37186.00057438613!2d-89.75310169655386!3d43.221009472331765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x880774ec50ab0f73%3A0xd96349cf20864a93!2sBlack+Hawk+Unit%2C+Watcher+Road%2C+Mazomanie%2C+WI+53560!3m2!1d43.2297465!2d-89.7256824!4m5!1s0x880775aed4e1fba1%3A0x86bd73380ab5db61!2sCedar+Hills+Campground%2C+6406+WI-78+Trunk%2C+Mazomanie%2C+WI+53560%2C+United+States!3m2!1d43.2064587!2d-89.7520792!5e0!3m2!1sen!2sus!4v1454210227050" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>