<% provide(:title, 'Places to stay') %>

<h3>
    If you are wondering where stay, that is close by, here are a few places that are within 10 minuntes of the wedding. Each place has a link to more information and their phone numbers are listed. Their addresses will be in the maps provided. 
</h3>
<!-- thunder bird and spinning wheel -->
<p>
	Motel Website:
	<a href="https://www.bestwestern.com/en_US/book/hotel-details.50092.html?iata=00171880&ssob=BLBWI0004G&cid=BLBWI0004G:google:gmb:50092" target="_blank" > Best Western</a><br />
	<p>
		We have a 20 room block reserved at the Best Western for our guests. You can get a discounted price of $120 per night (Friday and Saturday) and they offer a complimentary large breakfast buffet. You must reserve your room by April 12th, 2017 (one month before the wedding) in order to get get the discounted price.
	</p>
	Phone Number:  (608) 356-1100 <br />
	Toll Free:  (800) 780-7234<br />
	<a href="https://www.google.com/maps/dir/700+Washington+Ave,+Baraboo,+WI+53913/W+Pine+St,+Baraboo,+WI+53913/@43.4859398,-89.7656698,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x88076a90e85f9505:0x6ea0b60b24a96d95!2m2!1d-89.7252645!2d43.4717902!1m5!1m1!1s0x88076a03ffdae427:0xfeb9f9a1ddf65333!2m2!1d-89.7727459!2d43.4844636!3e0?hl=en-US" target="_blank" >Here is a link to take you to google maps for this place</a><br />
 	<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d23158.28663399079!2d-89.76566979289538!3d43.485939764134706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x88076a90e85f9505%3A0x6ea0b60b24a96d95!2s700+Washington+Ave%2C+Baraboo%2C+WI+53913!3m2!1d43.4717902!2d-89.7252645!4m5!1s0x88076a03ffdae427%3A0xfeb9f9a1ddf65333!2sW+Pine+St%2C+Baraboo%2C+WI+53913!3m2!1d43.4844636!2d-89.77274589999999!5e0!3m2!1sen!2sus!4v1483022218459" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>

<p>
	Motel Website:
	<a href="https://www.choicehotels.com/wisconsin/baraboo/clarion-hotels/wi149?source=gyxt" target="_blank" > Clarion Hotel</a> <br />
	Phone Number: (608) 356-6422 <br />
	<a href="https://www.google.com/maps/dir/700+Washington+Ave,+Baraboo,+WI+53913/626+W+Pine+St,+Baraboo,+WI+53913/@43.4711065,-89.7644925,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x88076a90e85f9505:0x6ea0b60b24a96d95!2m2!1d-89.7252645!2d43.4717902!1m5!1m1!1s0x88076a05a6d06623:0xf9ca317e0515ec4e!2m2!1d-89.7676516!2d43.4764628!3e0?hl=en-US" target="_blank" >Here is a link to take you to google maps for this place</a><br />
	<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d23163.97252911724!2d-89.7644924929281!3d43.47110646417147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x88076a90e85f9505%3A0x6ea0b60b24a96d95!2s700+Washington+Ave%2C+Baraboo%2C+WI+53913!3m2!1d43.4717902!2d-89.7252645!4m5!1s0x88076a05a6d06623%3A0xf9ca317e0515ec4e!2s626+W+Pine+St%2C+Baraboo%2C+WI+53913!3m2!1d43.4764628!2d-89.7676516!5e0!3m2!1sen!2sus!4v1483023234544" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>

<p>
	<!-- Motel Website:  -->
	<!-- <a href="http://campusinnmotel.com/" target="_blank" >  -->
	<!--  Campus Inn Motel </a> <br />
	 Phone Number: (608) 356-8366 <br />
	 <a href="https://www.google.com/maps/dir/700+Washington+Ave,+Baraboo,+WI+53913/750+W+Pine+St,+Baraboo,+WI+53913/@43.4717558,-89.7645163,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x88076a90e85f9505:0x6ea0b60b24a96d95!2m2!1d-89.7252645!2d43.4717902!1m5!1m1!1s0x88076a05c8ae7b25:0x73cd1cdd1482aaf6!2m2!1d-89.7679409!2d43.477766!3e0?hl=en-US" target="_blank" >Here is a link to take you to google maps for this place</a><br />
	<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d23163.723672168537!2d-89.76451629292669!3d43.47175576416988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x88076a90e85f9505%3A0x6ea0b60b24a96d95!2s700+Washington+Ave%2C+Baraboo%2C+WI+53913!3m2!1d43.4717902!2d-89.7252645!4m5!1s0x88076a05c8ae7b25%3A0x73cd1cdd1482aaf6!2s750+W+Pine+St%2C+Baraboo%2C+WI+53913!3m2!1d43.477765999999995!2d-89.7679409!5e0!3m2!1sen!2sus!4v1483023852638" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->

</p>

<p>
<!-- 	Motel Website:
	<a href="http://www.loglodgemotel.com/" target="_blank" >Log Lodge Motel & Cabins</a> <br />
	Phone Number: (608) 356-6552 <br />
	<a href="https://www.google.com/maps/dir/700+Washington+Ave,+Baraboo,+WI+53913/830+W+Pine+St,+Baraboo,+WI+53913/@43.4724155,-89.7646257,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x88076a90e85f9505:0x6ea0b60b24a96d95!2m2!1d-89.7252645!2d43.4717902!1m5!1m1!1s0x88076a067906f161:0xecd331511204237d!2m2!1d-89.7681013!2d43.4790855!3e0?hl=en-US" target="_blank" >Here is a link to take you to google maps for this place</a><br />
	<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d23163.470807005593!2d-89.76462574292525!3d43.47241551416822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x88076a90e85f9505%3A0x6ea0b60b24a96d95!2s700+Washington+Ave%2C+Baraboo%2C+WI+53913!3m2!1d43.4717902!2d-89.7252645!4m5!1s0x88076a067906f161%3A0xecd331511204237d!2s830+W+Pine+St%2C+Baraboo%2C+WI+53913!3m2!1d43.4790855!2d-89.7681013!5e0!3m2!1sen!2sus!4v1483024569580" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->
</p>

<p>
<!-- 	Motel Website:
	<a href="http://www.thunderbirdmotorinn.com/" target="_blank" > Thunderbird Motor Inn</a><br />
	Phone Number: (608) 356-7757 <br />
	<a href="https://www.google.com/maps/dir/700+Washington+Ave,+Baraboo,+WI+53913/1013+8th+St,+Baraboo,+WI+53913/@43.4734929,-89.7278261,17z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x88076a90e85f9505:0x6ea0b60b24a96d95!2m2!1d-89.7252645!2d43.4717902!1m5!1m1!1s0x88076a9a5eeb8da1:0xc6c0e974a622acf6!2m2!1d-89.7260508!2d43.4751956!3e0?hl=en-US" target="_blank" >Here is a link to take you to google maps for this place</a><br />
	<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d2895.3822342741755!2d-89.72782613462759!3d43.47349287912781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x88076a90e85f9505%3A0x6ea0b60b24a96d95!2s700+Washington+Ave%2C+Baraboo%2C+WI+53913!3m2!1d43.4717902!2d-89.7252645!4m5!1s0x88076a9a5eeb8da1%3A0xc6c0e974a622acf6!2s1013+8th+St%2C+Baraboo%2C+WI+53913!3m2!1d43.4751956!2d-89.7260508!5e0!3m2!1sen!2sus!4v1483025265650" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->
</p>