<% provide(:title, 'Error') %>
<h3 class='wordWeddingWrapper'> 

Error: internal server error 500</h3>

<p class='wordWeddingWrapper'>
	Oh noes the page is not here might be down or the might be melting.
</p>

